/* Fira Sans Regular */
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/fira/eot/FiraSans-Regular.eot");
  src:
    url("fonts/fira/eot/FiraSans-Regular.eot") format("embedded-opentype"),
    url("fonts/fira/woff2/FiraSans-Regular.woff2") format("woff2"),
    url("fonts/fira/woff/FiraSans-Regular.woff") format("woff"),
    url("fonts/fira/ttf/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Fira Sans Thin Italic */
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/fira/eot/FiraSans-ThinItalic.eot");
  src:
    url("fonts/fira/eot/FiraSans-ThinItalic.eot") format("embedded-opentype"),
    url("fonts/fira/woff2/FiraSans-ThinItalic.woff2") format("woff2"),
    url("fonts/fira/woff/FiraSans-ThinItalic.woff") format("woff"),
    url("fonts/fira/ttf/FiraSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: Italic;
}

/* Fira Sans Light */
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/fira/eot/FiraSans-Light.eot");
  src:
    url("fonts/fira/eot/FiraSans-Light.eot") format("embedded-opentype"),
    url("fonts/fira/woff2/FiraSans-Light.woff2") format("woff2"),
    url("fonts/fira/woff/FiraSans-Light.woff") format("woff"),
    url("fonts/fira/ttf/FiraSans-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Fira Sans Light Italic */
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/fira/eot/FiraSans-LightItalic.eot");
  src:
    url("fonts/fira/eot/FiraSans-LightItalic.eot") format("embedded-opentype"),
    url("fonts/fira/woff2/FiraSans-LightItalic.woff2") format("woff2"),
    url("fonts/fira/woff/FiraSans-LightItalic.woff") format("woff"),
    url("fonts/fira/ttf/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
