.header {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
  display: table;
  height: 100px;
  line-height: 100px;
  width: 100%;
}

.header > * {
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}

.header__title {
  text-align: left;
}

.header__link {
  text-decoration: none;
  color: hsl(19, 74%, 52%);
}

.header__nav {
  text-align: right;
}

.header__list {
  list-style-type: none;
}

.header__list-item {
  display: inline;
  letter-spacing: 1.5px;
  padding-left: 10px;
  padding-right: 10px;
}

.header__list-item + .header__list-item {
  border-left: 1px solid black;
}
